@media (max-width:768px){

.container1{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}


.container1 .left{
    padding-top: 10px;
    width: 50%;
    order: 2;
}

.container1 .middle{
    width: 100%;
    order: 1;
    

}
.container1 .right{
    order: 3;
    width: 65%;

}




}