/* barra de navegacion */

#header{
    width: 100%;
    background: white;
    padding: 10px;
    padding-top: 15px;
    height: 100%;
    /* border: 2px solid black; */
 

}

#header label{
    color: black;
    cursor: pointer;
    display: none;

}

#header #btn-menu{
    display: none;

}

.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.menu .logo-box{
    margin-left: 20px;
    width: 10%;

}

.menu .list-container{
    background: #00883E ;
    padding-top: 15px;
    border-radius: 5px;
    margin-right: 20px;
    width: 85%;

}

.menu .list-container .list{
    display: flex ;
    width: 100%;
    /* border: 2px solid black; */
}

.menu .list-container .list #home{
    width: 100px;

}

.menu .list-container .list .submenu span{
    display: none;
}

.menu .list-container .list li{
    list-style: none;
    width: calc(20% - 20px);
    text-align: center;
    /* border: 2px solid black; */

}


.menu .list-container .list li ul{
    width: 90%;
    display: none;
    position: absolute;
    z-index: 100;
    background: #0ba752;
    margin-top: 3px;
    padding-left: 5px;
    padding-right: 5px;

}

.menu .list-container .list li ul li{
    width: 100%;
    text-align: center;
    padding-top: 10px;
}


.menu .list-container .list li:hover > ul{
    display: block;
    border-radius: 5px;
    width: calc(16% - 20px);
}


.menu .list-container .list li ul li a{
    display: block;
    list-style: none;
    text-decoration: none;
    color: white;
    width: 100%;
}

.menu .list-container .list li ul li hr{
    color: white;
}

.menu .list-container .list li a{
    color: white;
    text-decoration: none;
    
}

.menu .list-container .list li a img{
    height: 30px;
    color: white;

}



.inicio{
    height: 25px;
}


/* barra de navegacion */



#main{
    border: 2px solid blue;
    padding: 10px;
}

/* contenedor */

.container1{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    border: 2px solid black;
    margin: 10px;
    height: 80vh;
}

/* contenedor */

/* left */
.container1 .left {
    width: 25%;
    border: 2px solid;
    padding: 10px;
    margin: 10px;
}

.container1 .left .contenedor{
    margin-bottom: 0px;
    padding: 0px;
    
}

.container1 .left .contenedor .container-titles{
    text-align: center;
    background: #00883E ;
    border-radius: 5px;
    padding: 5px;

}

.container1 .left .contenedor .container-titles h5{
    font-size: 15px;
    color:white;
}

.container1 .left .contenedor .menu{
    width: 85%;
    /* border: 2px solid yellow; */
    margin: auto;
    background: #0ba752;
  


}

.container1 .left .contenedor .menu ul{
    width: 100%;
    text-decoration: none;
    text-align: left;
   /*  border: 2px solid red; */
    padding-left: 0px;
    list-style: none;
}

.container1 .left .contenedor .menu ul li{
    width: 100%;
    /* border: 2px solid blueviolet; */
    margin: auto;
    text-decoration: none;
    margin-left: 0px;
    list-style: none;
    text-align: center;
    padding: 5px;

}

.container1 .left .contenedor .menu ul li a{
    color: white;
    text-decoration: none;
    /* border: 2px solid orangered; */
    font-weight: 400;

}


/* left */



/* center */
.container1 .middle{
    width: 70%;
    margin: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: 2px solid blueviolet;
}

.container1 .middle  .container-title {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;

}

.container1 .middle .container-title .logo-mid{
    width:25%;
    margin-right: 20px;
    
}

.container1 .middle .container-title .tittle-text{
    width: 75%;
    text-align: center;
    margin: 10px;
}

.container1 .middle .container-title .tittle-text h2{
    color: rgb(179, 11, 11);
    font-size: 30px;
    font-weight: 700;

}

.container1 .middle .imagen-mid{
    width: 100%;
    height: 30vh;
    position: relative;
    background: url(../Imagenes/Imagen2.jpg);                  /* //efecto paralas */
    background-position: center;
    background-size: cover;
    filter: blur(2px);
    z-index: -1;

}




/* center */



/* righ */
.container1 .right{
    width: 25%;
    border: 2px solid red;
    margin: 10px;
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
}


.container1 .right .redes-sociales{
    width: 100%;
 
    padding: 5px;
}

.container1 .right .redes-sociales .title{
    border-radius: 5px;
    background: #00883E;
    text-align: center;
    padding: 5px;

}

.container1 .right .redes-sociales .title h5{
    font-size: 15px;
    font-weight: 700;
    color: white;
}

.container1 .right .redes-sociales .container-redes{
    height: 200px;
    padding: 5px;
    border-radius: 5px;
    border: 2px solid black;
}

.container1 .right .forms{
    width: 100%;
    height: 100%;
    margin: auto;
    margin-top: 10px;
    padding: 5px;
}

.container1 .right .forms form{
    background:red;
    background: -webkit-linear-gradient(top, rgba(0,136,62,1) 20%, rgba(245,245,245,1) 10%);
    width: 100%;
    height: 240px;
    padding: 15px;
    border: 2px solid blue;

}

.container1 .right .forms form .texto{
    color: #fff;
	text-align:center;
	margin:0;
	font-size: medium ;
    margin-bottom: 10px;

}

input, textarea{
    font-size: 10px;
    color: #000;
    width: 100%;
    outline: none;
    padding: 5px;
    background: none;
    border: none;
    border-bottom: 1px solid #000;

}


::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #908f8f;
}


#boton{
	/*background: #303F9F;*/
	background: #0a8a1e;
      border-radius: 1px;
      border: 2px solid #fff;
      color: #fff;
      cursor: pointer;
      margin: auto;

      font-size: 16px;

      width: 80%;
      -webkit-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease;
      margin-left: 30px;

}

#boton:hover{
	cursor: pointer;
	background: #309f59;

}

.info{
	text-align: justify;
}




/* righ */



/* resposive */
@media (max-width:768px){
    #header{
        background: #00883E;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        /* border: 2px solid black; */
        flex-direction: row-reverse;
      
    }

    #header label{
        display: block;
        justify-content: center;
        margin: 15px;
        /* border: 2px solid black; */
    }

    #header .menu{
        display: block;   
        padding-bottom:  10px; 
        
    }

    .menu .logo-box{
        padding-top: 0px;
        display: flex;
        justify-content: flex-start;

    }

    #header .menu .list-container #home{
        display: none;
    }
    
    #header .menu .list-container #search{
        display: none;
    }

    .menu .list-container .list .submenu span{
        display: inline;
        margin-right: 10px;
    }

    #header .menu .list-container{
        position: absolute;
        top: 87px;  /* en este caso altura del header de 50 */
        left: 0;
        width: 100%;
        transform: translateX(-100%);
        transition: all 0.3s;
        align-items: center ;
    }

    #header .menu .list-container ul{
       
        flex-direction: column;
        background: #555;
        /* border: 2px solid black; */
    }

    #header .menu .list-container ul li{
        text-align: left;
        width: 100%;
        padding: 20px;
        padding-bottom: 15px;
        
    }

    #header .menu .list-container  ul li:hover ul{
        display: none;
        position: relative;
        width: 100%;
       
    }


    .menu a span{
        position: absolute;
        right: 5px;

    }

    #header .menu  a {
        width: 100%;
        padding-right: 30px;
        color: white;
        /* border: 2px solid black; */
    }

    header .menu ul li:hover {
        background: rgba(0, 0, 0, 0.3);
    }
    
    header #btn-menu:checked ~ .menu .list-container{
        transform: translateX(0%);
    }

}
