*{



}


body{
  background: white;


}

header{
width: 100%
}

.menu_bar {
	display:none;
}

header nav {
	width:85%;

}



.superior{
  background: white;

  margin: 15px auto;
  margin-left: 25px;

  }



.logo{
  float: left;
  width: 150px;

}
.superior.menu{
  padding: 200px;

}

/*estilos para el menu */



/*estilos body*/
div.cuerpo{
width: 1300px;
height: 640px;
background-color: white;
margin: auto;
top: 50px;
}


.slider{
  width:950px;
  height: 543px;

  margin-left: 10px;

  float: left;
  margin-top: 12px;


}


.derecha{
  width:320px;
  height: 570px;

  float: right;
  margin-top: 10px;
}

.facebook{
  width:300px;
  height: 285px;

  margin: auto;


}
.contactos{
  width:300px;
  height: 240px;


margin: auto;
}


/*contactos*/


form{
	/*width:450px;*/


background: rgba(0,136,62,1);
background: -webkit-linear-gradient(top, rgba(0,136,62,1) 20%, rgba(245,245,245,1) 10%);
width: 290px;
	padding: 15px;
  height: 260px;




	border-radius: 5px;

}

.texto{

	color: #fff;
	text-align:center;
	margin:0;
	font-size: medium ;
	margin-bottom: 10px;



}

.intro{
	text-align:center;
	margin-bottom: 10px;
  margin: auto;
}

imput, text{

color:#000;


}
input, textarea{

     font-size: 10px;
     color: #000;
     width: 100%;
     outline: none;
     padding: 5px;
     background: none;
     border: none;
     border-bottom: 1px solid #000;

}



::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #908f8f;
}


#boton{
	/*background: #303F9F;*/
	background: #0a8a1e;
      border-radius: 1px;
      border: 2px solid #fff;
      color: #fff;
      cursor: pointer;
      margin: auto;

      font-size: 16px;

      width: 80%;

      -webkit-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease;
      margin-left: 30px;
      margin-top: 30px;

}

#boton:hover{
	cursor: pointer;
	background: #309f59;

}

.info{
	text-align: justify;
}
